.tab {
  width: 400px;
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-medium);
  background-color: var(--color-container-background);
}

@media screen AND (max-width: 480px) {
  .tab {
    width: 100%;
  }
}
